*~
*.autosave
*.swp
phoobld/jni/toolchain/
phoobld/jni/toolchain.x86/
phoobld/jni/NDK_ABI_X86
phoobld/obj/
phoobld/libs/
randobld/jni/toolchain/
randobld/jni/toolchain.x86/
randobld/jni/NDK_ABI_X86
randobld/obj/
randobld/libs/
selfsbld/jni/toolchain/
selfsbld/jni/toolchain.x86/
selfsbld/jni/NDK_ABI_X86
selfsbld/obj/
selfsbld/libs/
build-*/
phoobld.pro.user
*.pro.user
bld/ogg/Makefile
bld/ogg/config.h
bld/ogg/config.log
bld/ogg/config.status
bld/ogg/doc/Makefile
bld/ogg/doc/libogg/Makefile
bld/ogg/include/Makefile
bld/ogg/include/ogg/Makefile
bld/ogg/include/ogg/config_types.h
bld/ogg/libogg.spec
bld/ogg/libtool
bld/ogg/ogg-uninstalled.pc
bld/ogg/ogg.pc
bld/ogg/output/
bld/ogg/src/.deps/
bld/ogg/src/.libs/
bld/ogg/src/Makefile
bld/ogg/src/bitwise.lo
bld/ogg/src/bitwise.o
bld/ogg/src/framing.lo
bld/ogg/src/framing.o
bld/ogg/src/libogg.la
bld/ogg/src/test_bitwise
bld/ogg/src/test_bitwise-bitwise.o
bld/ogg/src/test_framing
bld/ogg/src/test_framing-framing.o
bld/ogg/stamp-h1
bld/ogg/win32/Makefile
bld/speex/Makefile
bld/speex/Speex.spec
bld/speex/config.h
bld/speex/config.log
bld/speex/config.status
bld/speex/doc/Makefile
bld/speex/include/Makefile
bld/speex/include/speex/Makefile
bld/speex/include/speex/speex_config_types.h
bld/speex/libspeex/.deps/
bld/speex/libspeex/.libs/
bld/speex/libspeex/Makefile
bld/speex/libspeex/bits.lo
bld/speex/libspeex/bits.o
bld/speex/libspeex/buffer.lo
bld/speex/libspeex/buffer.o
bld/speex/libspeex/cb_search.lo
bld/speex/libspeex/cb_search.o
bld/speex/libspeex/exc_10_16_table.lo
bld/speex/libspeex/exc_10_16_table.o
bld/speex/libspeex/exc_10_32_table.lo
bld/speex/libspeex/exc_10_32_table.o
bld/speex/libspeex/exc_20_32_table.lo
bld/speex/libspeex/exc_20_32_table.o
bld/speex/libspeex/exc_5_256_table.lo
bld/speex/libspeex/exc_5_256_table.o
bld/speex/libspeex/exc_5_64_table.lo
bld/speex/libspeex/exc_5_64_table.o
bld/speex/libspeex/exc_8_128_table.lo
bld/speex/libspeex/exc_8_128_table.o
bld/speex/libspeex/fftwrap.lo
bld/speex/libspeex/fftwrap.o
bld/speex/libspeex/filterbank.lo
bld/speex/libspeex/filterbank.o
bld/speex/libspeex/filters.lo
bld/speex/libspeex/filters.o
bld/speex/libspeex/gain_table.lo
bld/speex/libspeex/gain_table.o
bld/speex/libspeex/gain_table_lbr.lo
bld/speex/libspeex/gain_table_lbr.o
bld/speex/libspeex/hexc_10_32_table.lo
bld/speex/libspeex/hexc_10_32_table.o
bld/speex/libspeex/hexc_table.lo
bld/speex/libspeex/hexc_table.o
bld/speex/libspeex/high_lsp_tables.lo
bld/speex/libspeex/high_lsp_tables.o
bld/speex/libspeex/jitter.lo
bld/speex/libspeex/jitter.o
bld/speex/libspeex/kiss_fft.lo
bld/speex/libspeex/kiss_fft.o
bld/speex/libspeex/kiss_fftr.lo
bld/speex/libspeex/kiss_fftr.o
bld/speex/libspeex/libspeex.la
bld/speex/libspeex/libspeexdsp.la
bld/speex/libspeex/lpc.lo
bld/speex/libspeex/lpc.o
bld/speex/libspeex/lsp.lo
bld/speex/libspeex/lsp.o
bld/speex/libspeex/lsp_tables_nb.lo
bld/speex/libspeex/lsp_tables_nb.o
bld/speex/libspeex/ltp.lo
bld/speex/libspeex/ltp.o
bld/speex/libspeex/mdf.lo
bld/speex/libspeex/mdf.o
bld/speex/libspeex/modes.lo
bld/speex/libspeex/modes.o
bld/speex/libspeex/modes_wb.lo
bld/speex/libspeex/modes_wb.o
bld/speex/libspeex/nb_celp.lo
bld/speex/libspeex/nb_celp.o
bld/speex/libspeex/preprocess.lo
bld/speex/libspeex/preprocess.o
bld/speex/libspeex/quant_lsp.lo
bld/speex/libspeex/quant_lsp.o
bld/speex/libspeex/resample.lo
bld/speex/libspeex/resample.o
bld/speex/libspeex/sb_celp.lo
bld/speex/libspeex/sb_celp.o
bld/speex/libspeex/scal.lo
bld/speex/libspeex/scal.o
bld/speex/libspeex/speex.lo
bld/speex/libspeex/speex.o
bld/speex/libspeex/speex_callbacks.lo
bld/speex/libspeex/speex_callbacks.o
bld/speex/libspeex/speex_header.lo
bld/speex/libspeex/speex_header.o
bld/speex/libspeex/stereo.lo
bld/speex/libspeex/stereo.o
bld/speex/libspeex/testdenoise
bld/speex/libspeex/testdenoise.o
bld/speex/libspeex/testecho
bld/speex/libspeex/testecho.o
bld/speex/libspeex/testenc
bld/speex/libspeex/testenc.o
bld/speex/libspeex/testenc_uwb
bld/speex/libspeex/testenc_uwb.o
bld/speex/libspeex/testenc_wb
bld/speex/libspeex/testenc_wb.o
bld/speex/libspeex/testjitter
bld/speex/libspeex/testjitter.o
bld/speex/libspeex/vbr.lo
bld/speex/libspeex/vbr.o
bld/speex/libspeex/vq.lo
bld/speex/libspeex/vq.o
bld/speex/libspeex/window.lo
bld/speex/libspeex/window.o
bld/speex/libtool
bld/speex/output/
bld/speex/speex.pc
bld/speex/speexdsp.pc
bld/speex/src/.deps/
bld/speex/src/Makefile
bld/speex/src/skeleton.o
bld/speex/src/speexdec
bld/speex/src/speexdec.o
bld/speex/src/speexenc
bld/speex/src/speexenc.o
bld/speex/src/wav_io.o
bld/speex/stamp-h1
bld/speex/symbian/Makefile
bld/speex/ti/Makefile
bld/speex/ti/speex_C54_test/Makefile
bld/speex/ti/speex_C55_test/Makefile
bld/speex/ti/speex_C64_test/Makefile
bld/speex/win32/Makefile
bld/speex/win32/VS2003/Makefile
bld/speex/win32/VS2003/libspeex/Makefile
bld/speex/win32/VS2003/libspeexdsp/Makefile
bld/speex/win32/VS2003/speexdec/Makefile
bld/speex/win32/VS2003/speexenc/Makefile
bld/speex/win32/VS2003/tests/Makefile
bld/speex/win32/VS2005/Makefile
bld/speex/win32/VS2005/libspeex/Makefile
bld/speex/win32/VS2005/libspeexdsp/Makefile
bld/speex/win32/VS2005/speexdec/Makefile
bld/speex/win32/VS2005/speexenc/Makefile
bld/speex/win32/VS2005/tests/Makefile
bld/speex/win32/VS2008/Makefile
bld/speex/win32/VS2008/libspeex/Makefile
bld/speex/win32/VS2008/libspeexdsp/Makefile
bld/speex/win32/VS2008/speexdec/Makefile
bld/speex/win32/VS2008/speexenc/Makefile
bld/speex/win32/VS2008/tests/Makefile
bld/speex/win32/libspeex/Makefile
bld/speex/win32/speexdec/Makefile
bld/speex/win32/speexenc/Makefile
bld/theora/Makefile
bld/theora/config.h
bld/theora/config.log
bld/theora/config.status
bld/theora/doc/Doxyfile
bld/theora/doc/Makefile
bld/theora/doc/doxygen-build.stamp
bld/theora/doc/spec/.deps/
bld/theora/doc/spec/Makefile
bld/theora/doc/spec/vp3huff
bld/theora/doc/spec/vp3huff.o
bld/theora/examples/.deps/
bld/theora/examples/Makefile
bld/theora/include/Makefile
bld/theora/include/theora/Makefile
bld/theora/lib/.deps/
bld/theora/lib/.libs/
bld/theora/lib/Makefile
bld/theora/lib/analyze.lo
bld/theora/lib/analyze.o
bld/theora/lib/apiwrapper.lo
bld/theora/lib/apiwrapper.o
bld/theora/lib/bitpack.lo
bld/theora/lib/bitpack.o
bld/theora/lib/decapiwrapper.lo
bld/theora/lib/decapiwrapper.o
bld/theora/lib/decinfo.lo
bld/theora/lib/decinfo.o
bld/theora/lib/decode.lo
bld/theora/lib/decode.o
bld/theora/lib/dequant.lo
bld/theora/lib/dequant.o
bld/theora/lib/encapiwrapper.lo
bld/theora/lib/encapiwrapper.o
bld/theora/lib/encfrag.lo
bld/theora/lib/encfrag.o
bld/theora/lib/encinfo.lo
bld/theora/lib/encinfo.o
bld/theora/lib/encode.lo
bld/theora/lib/encode.o
bld/theora/lib/enquant.lo
bld/theora/lib/enquant.o
bld/theora/lib/fdct.lo
bld/theora/lib/fdct.o
bld/theora/lib/fragment.lo
bld/theora/lib/fragment.o
bld/theora/lib/huffdec.lo
bld/theora/lib/huffdec.o
bld/theora/lib/huffenc.lo
bld/theora/lib/huffenc.o
bld/theora/lib/idct.lo
bld/theora/lib/idct.o
bld/theora/lib/info.lo
bld/theora/lib/info.o
bld/theora/lib/internal.lo
bld/theora/lib/internal.o
bld/theora/lib/libtheora.la
bld/theora/lib/libtheoradec.la
bld/theora/lib/libtheoraenc.la
bld/theora/lib/mathops.lo
bld/theora/lib/mathops.o
bld/theora/lib/mcenc.lo
bld/theora/lib/mcenc.o
bld/theora/lib/quant.lo
bld/theora/lib/quant.o
bld/theora/lib/rate.lo
bld/theora/lib/rate.o
bld/theora/lib/state.lo
bld/theora/lib/state.o
bld/theora/lib/tokenize.lo
bld/theora/lib/tokenize.o
bld/theora/libtheora.spec
bld/theora/libtool
bld/theora/m4/Makefile
bld/theora/output/
bld/theora/stamp-h1
bld/theora/tests/.deps/
bld/theora/tests/Makefile
bld/theora/theora-uninstalled.pc
bld/theora/theora.pc
bld/theora/theoradec-uninstalled.pc
bld/theora/theoradec.pc
bld/theora/theoraenc-uninstalled.pc
bld/theora/theoraenc.pc
bld/vorbis/Makefile
bld/vorbis/config.h
bld/vorbis/config.log
bld/vorbis/config.status
bld/vorbis/doc/Doxyfile
bld/vorbis/doc/Makefile
bld/vorbis/doc/doxygen-build.stamp
bld/vorbis/doc/libvorbis/Makefile
bld/vorbis/doc/vorbisenc/Makefile
bld/vorbis/doc/vorbisfile/Makefile
bld/vorbis/examples/.deps/
bld/vorbis/examples/Makefile
bld/vorbis/include/Makefile
bld/vorbis/include/vorbis/Makefile
bld/vorbis/lib/.deps/
bld/vorbis/lib/.libs/
bld/vorbis/lib/Makefile
bld/vorbis/lib/analysis.lo
bld/vorbis/lib/analysis.o
bld/vorbis/lib/bitrate.lo
bld/vorbis/lib/bitrate.o
bld/vorbis/lib/block.lo
bld/vorbis/lib/block.o
bld/vorbis/lib/books/Makefile
bld/vorbis/lib/books/coupled/Makefile
bld/vorbis/lib/books/floor/Makefile
bld/vorbis/lib/books/uncoupled/Makefile
bld/vorbis/lib/codebook.lo
bld/vorbis/lib/codebook.o
bld/vorbis/lib/envelope.lo
bld/vorbis/lib/envelope.o
bld/vorbis/lib/floor0.lo
bld/vorbis/lib/floor0.o
bld/vorbis/lib/floor1.lo
bld/vorbis/lib/floor1.o
bld/vorbis/lib/info.lo
bld/vorbis/lib/info.o
bld/vorbis/lib/libvorbis.la
bld/vorbis/lib/libvorbisenc.la
bld/vorbis/lib/libvorbisfile.la
bld/vorbis/lib/lookup.lo
bld/vorbis/lib/lookup.o
bld/vorbis/lib/lpc.lo
bld/vorbis/lib/lpc.o
bld/vorbis/lib/lsp.lo
bld/vorbis/lib/lsp.o
bld/vorbis/lib/mapping0.lo
bld/vorbis/lib/mapping0.o
bld/vorbis/lib/mdct.lo
bld/vorbis/lib/mdct.o
bld/vorbis/lib/modes/Makefile
bld/vorbis/lib/psy.lo
bld/vorbis/lib/psy.o
bld/vorbis/lib/registry.lo
bld/vorbis/lib/registry.o
bld/vorbis/lib/res0.lo
bld/vorbis/lib/res0.o
bld/vorbis/lib/sharedbook.lo
bld/vorbis/lib/sharedbook.o
bld/vorbis/lib/smallft.lo
bld/vorbis/lib/smallft.o
bld/vorbis/lib/synthesis.lo
bld/vorbis/lib/synthesis.o
bld/vorbis/lib/test_sharedbook
bld/vorbis/lib/test_sharedbook-sharedbook.o
bld/vorbis/lib/vorbisenc.lo
bld/vorbis/lib/vorbisenc.o
bld/vorbis/lib/vorbisfile.lo
bld/vorbis/lib/vorbisfile.o
bld/vorbis/lib/window.lo
bld/vorbis/lib/window.o
bld/vorbis/libtool
bld/vorbis/libvorbis.spec
bld/vorbis/m4/Makefile
bld/vorbis/output/
bld/vorbis/stamp-h1
bld/vorbis/test/.deps/
bld/vorbis/test/Makefile
bld/vorbis/vorbis-uninstalled.pc
bld/vorbis/vorbis.pc
bld/vorbis/vorbisenc-uninstalled.pc
bld/vorbis/vorbisenc.pc
bld/vorbis/vorbisfile-uninstalled.pc
bld/vorbis/vorbisfile.pc
bld/vorbis/vq/.deps/
bld/vorbis/vq/Makefile
randobld/jni/cdc32
randobld/jni/crypto5
randobld/jni/dwcls
randobld/jni/gsm
randobld/jni/jenkins
randobld/jni/jhead
randobld/jni/kazlib
randobld/jni/libogg
randobld/jni/libspeex
randobld/jni/libtheora
randobld/jni/libvorbis
randobld/jni/pbm
randobld/jni/pgm
randobld/jni/ppm
randobld/jni/vc
randobld/jni/zlib

bld/spread-hacked/spread-src-4\.4\.0/libspread/__\.SYMDEF SORTED

\.DS_Store

*.8-pre1

bld/theora\.1\.2\.x/output/

bld/speexdsp-1\.2rc3/output/

bld/libvorbis-1\.3\.6/output/

bld/libvorbis-1\.3\.6/autom4te\.cache/

bld/libogg-1\.3\.3/output/

bld/theora\.1\.2\.x/autom4te\.cache/

bld/theora\.1\.2\.x/tests/\.deps/

bld/theora\.1\.2\.x/tests/Makefile

bld/theora\.1\.2\.x/m4/Makefile
bld/**/.deps/
bld/**/*.lo
bld/**/*.la
bld/**/*.o
bld/**/theora*/**/Makefile
bld/**/libogg*/**/Makefile
bld/**/libvorbis*/**/Makefile
bld/**/speex*/**/Makefile
bld/**/.libs/

bld/theora\.1\.2\.x/lib/arm/armopts\.s

bld/theora\.1\.2\.x/lib/arm/\.dirstamp

bld/theora\.1\.2\.x/lib/armbits-gnu\.S

bld/theora\.1\.2\.x/lib/armencfrag-gnu\.S

bld/theora\.1\.2\.x/lib/armenquant-gnu\.S

bld/theora\.1\.2\.x/lib/armfrag-gnu\.S

bld/theora\.1\.2\.x/lib/armidct-gnu\.S

bld/theora\.1\.2\.x/lib/armloop-gnu\.S

bld/theora\.1\.2\.x/lib/armopts-gnu\.S

bld/theora\.1\.2\.x/doc/Doxyfile

bld/theora\.1\.2\.x/doc/doxygen-build\.stamp

bld/theora\.1\.2\.x/doc/spec/vp3huff

bld/theora\.1\.2\.x/config\.h

bld/theora\.1\.2\.x/config\.log

bld/theora\.1\.2\.x/config\.status

bld/theora\.1\.2\.x/libtheora\.spec

bld/theora\.1\.2\.x/libtool

bld/theora\.1\.2\.x/stamp-h1

bld/theora\.1\.2\.x/theora-uninstalled\.pc

bld/theora\.1\.2\.x/theora\.pc

bld/theora\.1\.2\.x/theoradec-uninstalled\.pc

bld/theora\.1\.2\.x/theoradec\.pc

bld/theora\.1\.2\.x/theoraenc-uninstalled\.pc

bld/theora\.1\.2\.x/theoraenc\.pc

bld/libogg-1\.3\.3/config\.h

bld/libogg-1\.3\.3/config\.log

bld/libogg-1\.3\.3/config\.status

bld/libogg-1\.3\.3/include/ogg/config_types\.h

bld/libogg-1\.3\.3/libogg\.spec

bld/libogg-1\.3\.3/libtool

bld/libogg-1\.3\.3/ogg-uninstalled\.pc

bld/libogg-1\.3\.3/ogg\.pc

bld/libogg-1\.3\.3/stamp-h1

bld/libvorbis-1\.3\.6/config\.h

bld/libvorbis-1\.3\.6/config\.log

bld/libvorbis-1\.3\.6/config\.status

bld/libvorbis-1\.3\.6/doc/Doxyfile

bld/libvorbis-1\.3\.6/doc/doxygen-build\.stamp

bld/libvorbis-1\.3\.6/libtool

bld/libvorbis-1\.3\.6/libvorbis\.spec

bld/libvorbis-1\.3\.6/stamp-h1

bld/libvorbis-1\.3\.6/vorbis-uninstalled\.pc

bld/libvorbis-1\.3\.6/vorbis\.pc

bld/libvorbis-1\.3\.6/vorbisenc-uninstalled\.pc

bld/libvorbis-1\.3\.6/vorbisenc\.pc

bld/libvorbis-1\.3\.6/vorbisfile-uninstalled\.pc

bld/libvorbis-1\.3\.6/vorbisfile\.pc

bld/speexdsp-1\.2rc3/config\.h

bld/speexdsp-1\.2rc3/config\.log

bld/speexdsp-1\.2rc3/config\.status

bld/speexdsp-1\.2rc3/include/speex/speexdsp_config_types\.h

bld/speexdsp-1\.2rc3/libtool

bld/speexdsp-1\.2rc3/speexdsp\.pc

bld/speexdsp-1\.2rc3/SpeexDSP\.spec

bld/speexdsp-1\.2rc3/stamp-h1

bld/speexdsp-1\.2rc3/autom4te\.cache/

bld/libogg-1\.3\.3/autom4te\.cache/

bld/theora\.1\.2\.x/lib/x86/\.dirstamp

# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4


randobld\.pro\.user\.4\.9-pre1

bld/speexdsp/output/

bld/speexdsp/libspeexdsp/testresample

bld/speexdsp/libspeexdsp/testresample2

\.stignore

*.10-pre1

bld/android/com/dwyco/android/.vscode/
/fckbld.pro
/fucktola
CMakeLists.txt.user
build/

rando/androidinst3/src/com/dwyco/android/.vscode/

bld/zlib/zconf.h.included
.cache

phoo/androidinst3/src/com/dwyco/android/.vscode/

phoo/androidinst3/src/com/dwyco/android/.vscode/launch.json

phoo/androidinst3/src/com/dwyco/android/DwycoProbe.java

phoo/androidinst3/src/com/dwyco/android/FileUtils.java

phoo/androidinst3/src/com/dwyco/android/MyFirebaseMessagingService.java

phoo/androidinst3/src/com/dwyco/android/NotificationClient.java

phoo/androidinst3/src/com/dwyco/android/SocketLock.java

phoo/androidinst3/src/com/dwyco/cdc32/dwybg.java

phoo/androidinst3/src/com/dwyco/cdc32/dwybgJNI.java
.aider*

rando/.cache/
