*~
*.autosave
*.swp
phoobld/jni/toolchain/
phoobld/jni/toolchain.x86/
phoobld/jni/NDK_ABI_X86
phoobld/obj/
phoobld/libs/
randobld/jni/toolchain/
randobld/jni/toolchain.x86/
randobld/jni/NDK_ABI_X86
randobld/obj/
randobld/libs/
selfsbld/jni/toolchain/
selfsbld/jni/toolchain.x86/
selfsbld/jni/NDK_ABI_X86
selfsbld/obj/
selfsbld/libs/
build-*/
phoobld.pro.user
*.pro.user
randobld/jni/cdc32
randobld/jni/crypto5
randobld/jni/crypto8
randobld/jni/dwcls
randobld/jni/gsm
randobld/jni/jenkins
randobld/jni/jhead
randobld/jni/kazlib
randobld/jni/libogg
randobld/jni/libspeex
randobld/jni/libtheora
randobld/jni/libvorbis
randobld/jni/pbm
randobld/jni/pgm
randobld/jni/ppm
randobld/jni/vc
randobld/jni/zlib

bld/spread-hacked/spread-src-4\.4\.0/libspread/__\.SYMDEF SORTED

\.DS_Store

*.8-pre1

bld/theora\.1\.2\.x/output/


bld/theora\.1\.2\.x/autom4te\.cache/

bld/theora\.1\.2\.x/tests/\.deps/

bld/theora\.1\.2\.x/tests/Makefile

bld/theora\.1\.2\.x/m4/Makefile
bld/**/.deps/
bld/**/*.lo
bld/**/*.la
bld/**/*.o
bld/**/theora*/**/Makefile
bld/**/libogg*/**/Makefile
bld/**/libvorbis*/**/Makefile
bld/**/speex*/**/Makefile
bld/**/.libs/

bld/theora\.1\.2\.x/lib/arm/armopts\.s

bld/theora\.1\.2\.x/lib/arm/\.dirstamp

bld/theora\.1\.2\.x/lib/armbits-gnu\.S

bld/theora\.1\.2\.x/lib/armencfrag-gnu\.S

bld/theora\.1\.2\.x/lib/armenquant-gnu\.S

bld/theora\.1\.2\.x/lib/armfrag-gnu\.S

bld/theora\.1\.2\.x/lib/armidct-gnu\.S

bld/theora\.1\.2\.x/lib/armloop-gnu\.S

bld/theora\.1\.2\.x/lib/armopts-gnu\.S

bld/theora\.1\.2\.x/doc/Doxyfile

bld/theora\.1\.2\.x/doc/doxygen-build\.stamp

bld/theora\.1\.2\.x/doc/spec/vp3huff

bld/theora\.1\.2\.x/config\.h

bld/theora\.1\.2\.x/config\.log

bld/theora\.1\.2\.x/config\.status

bld/theora\.1\.2\.x/libtheora\.spec

bld/theora\.1\.2\.x/libtool

bld/theora\.1\.2\.x/stamp-h1

bld/theora\.1\.2\.x/theora-uninstalled\.pc

bld/theora\.1\.2\.x/theora\.pc

bld/theora\.1\.2\.x/theoradec-uninstalled\.pc

bld/theora\.1\.2\.x/theoradec\.pc

bld/theora\.1\.2\.x/theoraenc-uninstalled\.pc

bld/theora\.1\.2\.x/theoraenc\.pc

bld/theora\.1\.2\.x/lib/x86/\.dirstamp

# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4


randobld\.pro\.user\.4\.9-pre1


\.stignore

*.10-pre1

bld/android/com/dwyco/android/.vscode/
/fckbld.pro
/fucktola
CMakeLists.txt.user
build/

rando/androidinst3/src/com/dwyco/android/.vscode/

bld/zlib/zconf.h.included
.cache

phoo/androidinst3/src/com/dwyco/android/.vscode/

phoo/androidinst3/src/com/dwyco/android/.vscode/launch.json

phoo/androidinst3/src/com/dwyco/android/DwycoProbe.java

phoo/androidinst3/src/com/dwyco/android/FileUtils.java

phoo/androidinst3/src/com/dwyco/android/MyFirebaseMessagingService.java

phoo/androidinst3/src/com/dwyco/android/NotificationClient.java

phoo/androidinst3/src/com/dwyco/android/SocketLock.java

phoo/androidinst3/src/com/dwyco/cdc32/dwybg.java

phoo/androidinst3/src/com/dwyco/cdc32/dwybgJNI.java
.aider*

bld/android/com/dwyco/.vscode/

rando/androidinst3/src/com/dwyco/.vscode/
**/.qmlls.ini

.idea/

bld/android/android.iml

rando/.cache/

randobld/jni/crypto8
CMakeLists.txt.user

bld/libogg-1.3.6/output/

.qtcreator/
