*.o
*.a
*.dylib
Makefile
*.to
*.lo
*.ldo
*.tdo
*.do
*.lto
config.h
*.so.*
**/docs/*.out
*.so
*.sa
*.tlo
*.ltdo
config.log
config.status
spmonitor
spread
flush_user
spflooder
sptuser
spuser
spu_system.h
stdarch_autoconf.h
