# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*


# Qt unit tests
target_wrapper.*


# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*


bld/spread-hacked/spread-src-4.4.0/config.log
bld/spread-hacked/spread-src-4.4.0/config.status
bld/spread-hacked/spread-src-4.4.0/daemon/config.h
bld/spread-hacked/spread-src-4.4.0/daemon/spmonitor
bld/spread-hacked/spread-src-4.4.0/daemon/spread
bld/spread-hacked/spread-src-4.4.0/docs/SP_connect.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_disconnect.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_equal_group_ids.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_error.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_get_memb_info.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_get_vs_set_members.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_get_vs_sets_info.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_join.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_leave.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_multicast.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_multigroup_multicast.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_multigroup_scat_multicast.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_poll.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_receive.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_scat_get_memb_info.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_scat_get_vs_set_members.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_scat_get_vs_sets_info.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_scat_multicast.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_scat_receive.3.out
bld/spread-hacked/spread-src-4.4.0/docs/SP_version.3.out
bld/spread-hacked/spread-src-4.4.0/docs/libspread.3.out
bld/spread-hacked/spread-src-4.4.0/docs/spflooder.1.out
bld/spread-hacked/spread-src-4.4.0/docs/spmonitor.1.out
bld/spread-hacked/spread-src-4.4.0/docs/spread.1.out
bld/spread-hacked/spread-src-4.4.0/docs/sptuser.1.out
bld/spread-hacked/spread-src-4.4.0/docs/spuser.1.out
bld/spread-hacked/spread-src-4.4.0/examples/fl_user.to
bld/spread-hacked/spread-src-4.4.0/examples/flush_user
bld/spread-hacked/spread-src-4.4.0/examples/spflooder
bld/spread-hacked/spread-src-4.4.0/examples/sptuser
bld/spread-hacked/spread-src-4.4.0/examples/spuser
bld/spread-hacked/spread-src-4.4.0/examples/user.to
bld/spread-hacked/spread-src-4.4.0/libspread-util/config.log
bld/spread-hacked/spread-src-4.4.0/libspread-util/config.status
bld/spread-hacked/spread-src-4.4.0/libspread-util/docs/E_get_time.3.out
bld/spread-hacked/spread-src-4.4.0/libspread-util/docs/libspread-util.3.out
bld/spread-hacked/spread-src-4.4.0/libspread-util/include/spu_system.h
bld/spread-hacked/spread-src-4.4.0/libspread-util/lib/
bld/spread-hacked/spread-src-4.4.0/libspread-util/src/config.h
bld/spread-hacked/spread-src-4.4.0/libspread-util/src/libspread-util.sa
bld/spread-hacked/spread-src-4.4.0/libspread/__.SYMDEF SORTED
bld/spread-hacked/spread-src-4.4.0/libspread/fl.tlo
bld/spread-hacked/spread-src-4.4.0/libspread/fl.to
bld/spread-hacked/spread-src-4.4.0/libspread/scatp.tlo
bld/spread-hacked/spread-src-4.4.0/libspread/scatp.to
bld/spread-hacked/spread-src-4.4.0/libspread/sp.tlo
bld/spread-hacked/spread-src-4.4.0/libspread/sp.to
bld/spread-hacked/spread-src-4.4.0/libspread/stdarr.to
bld/spread-hacked/spread-src-4.4.0/libspread/stdcarr.to
bld/spread-hacked/spread-src-4.4.0/libspread/stddll.to
bld/spread-hacked/spread-src-4.4.0/libspread/stderror.to
bld/spread-hacked/spread-src-4.4.0/libspread/stdfd.to
bld/spread-hacked/spread-src-4.4.0/libspread/stdhash.to
bld/spread-hacked/spread-src-4.4.0/libspread/stdit.to
bld/spread-hacked/spread-src-4.4.0/libspread/stdskl.to
bld/spread-hacked/spread-src-4.4.0/libspread/stdthread.to
bld/spread-hacked/spread-src-4.4.0/libspread/stdtime.to
bld/spread-hacked/spread-src-4.4.0/libspread/stdutil.to
bld/spread-hacked/spread-src-4.4.0/stdutil/config.log
bld/spread-hacked/spread-src-4.4.0/stdutil/config.status
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdarr.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdarr.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdarr.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdarr.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdarr.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdarr.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdcarr.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdcarr.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdcarr.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdcarr.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdcarr.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdcarr.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stddll.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stddll.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stddll.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stddll.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stddll.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stddll.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stderror.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stderror.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stderror.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stderror.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stderror.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stderror.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdfd.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdfd.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdfd.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdfd.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdfd.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdfd.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdhash.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdhash.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdhash.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdhash.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdhash.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdhash.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdit.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdit.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdit.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdit.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdit.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdit.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdskl.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdskl.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdskl.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdskl.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdskl.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdskl.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdthread.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdthread.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdthread.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdthread.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdthread.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdthread.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdtime.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdtime.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdtime.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdtime.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdtime.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdtime.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdutil.do
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdutil.ldo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdutil.ltdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdutil.lto
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdutil.tdo
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdutil.to
bld/spread-hacked/spread-src-4.4.0/stdutil/src/stdutil/private/stdarch_autoconf.h
bld/spread-hacked/spread-src-4.4.0/libspread-util/src/libspread-util.so.4.2.0
